.card1 {
    grid-column: span;
    display: flex; margin-bottom: 20px; padding-left: 40px; cursor: pointer;
    }
    
    .photo1 { width: 90px;
    height: 120px; border-radius: 12px;
    }
    
    .description1 { display: flex; padding-left: 20px;
    flex-direction: column; justify-content: space-around;
    }
    
    #title1 {
    color: rgb(0, 0, 0); font-size: 22px;
    font-weight: bold; font-family: Verdana;
    }
    
    #genre1 { color: grey;
    font-family: Verdana; font-weight: 500; font-size: 12px; margin-top: 5px;
    }
    
